################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.db
/ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.opendb
/ConsoleApplication1/.vs/ConsoleApplication1/v16/ipch/AutoPCH/c5f67961d2ab9478
/.vs
